<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{url_for('.static', filename='custom.min.css')}}" rel="stylesheet">
    <link href="{{url_for('.static', filename='custom.css')}}" rel="stylesheet">

    <title>Skin Condition Classifier</title>
</head>

  <body class="login">
    <div>
        <section class="login_content", style="max-width:750px;">
            <form action="/validateuser" method="POST">
              <h1>Professional Login</h1>
              <div id="flashmsg">
                  {% with messages = get_flashed_messages() %}
				  {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					{{message}}
                  </div>
					{% endfor %}
					{% endif %}
					{% endwith %}
              </div>
              <div>
                <input type="text" name="email" class="form-control" placeholder="Email" required="" />
              </div>
              <div>
                <input type="password" name="password" class="form-control" placeholder="Password" required="" />
              </div>
              <div>
                    <button type="submit" class="btn btn-success">Log In</button>

              </div>




            </form>
          </section>
        </div>

      </div>
    </div>
  </body>
</html>